body {
    background-color: #121212;
    color: white
}

.surface {
    background-color: #242424;
}

.card {
    border-radius: 8px;
    padding-bottom: 8px;
    margin: auto;
    margin-bottom: 16px;
}

img.small {
    width: 14vw;
    height: 14vw;
    object-fit: cover;
    margin: 4px;
    max-height: 90px;
    max-width: 90px;
}

img.selectable {
    border-radius: 50%;
    filter: grayscale(100%);
}

img.selectable:hover {
    filter: grayscale(0%);
    border: 5px solid #4caf50;
}

img.selected {
    filter: grayscale(0%);
}

img.google-signin {
    content: url("images/btn_google_signin_light_normal_web.png");
}

img.google-signin:disabled {
    content: url("images/btn_google_signin_light_disabled_web.png");
}

img.google-signin:focus {
    content: url("images/btn_google_signin_light_focus_web.png");
}

img.google-signin:active {
    content: url("images/btn_google_signin_light_pressed_web.png");
}